<!DOCTYPE html>
<html>

<head>
	<title>Posts</title>
		<script src="/js/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=2">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
	<div class="container">
		<div class="content well">
			<div class="image">
				<a href="/posts"><img src="/coco-cafe-logo.jpg" class="img-circle" width="120" height="120"></a>
			</div>
			<form method="POST" action="/posts/edit/<%= post.title %>" class="row form">
        <p align = "right" font-size = "12"><a href="/posts">Home<a> | <a href="/posts/delete/<%= post.title %>">Delete</a></p>
				<p class="date">
					<%= post.date.toDateString().substring(4,15) %>
				</p>
				<div class="form-group ">
					<label class="control-label">Title:</label>
					<input class="form-control" autocapitalize=words autocorrect=off type="text" id="title" name="title" value="<%= post.title %>" required=""/>
				</div>

				<div class="form-group ">
					<label class="control-label">Author:</label>
					<input class="form-control" type="text" id="author" name="author" value="<%= post.author %>" />
				</div>

				<div class="form-group ">
					<label class="control-label ">Category:</label>
					<input class="form-control" type="text" id="category" name="category" value="<%= post.category %>" />
				</div>

				<div class="form-group ">
					<label class="control-label ">Image Url:</label>
					<input class="form-control" type="text" id="image" onchange="loadFile(event)" name="image" value="<%= post.image %>" />
				</div>
				<div class="form-group ">
					<label class="control-label ">Content:</label>
					<textarea class="form-control" rows="5" type="text" id="content" name="content" value="<%= post.content %>"><%= post.content %></textarea>
				</div>
				<div class="orm-control end">
					<button class="btn btn-default" type="submit"><b>Update Post</b></button>
				</div>
			</form>
		</div>
	</div>
  <footer>
    <p style="color:white;">Created for UNC University Classroom Project (JMOC 583) by Emily Lam</p>
    <p style="color:white;">Implemented using node.js, mongodb, express, bodyParser, and ejs</p>
  </footer>
</body>

</html>
