<!DOCTYPE html>
<html>

<head>
  <title>Posts</title>
  <script src="/js/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=2">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <div class="container">
    <div class="content well">
      <div class="image">
        <a href="/posts"><img src="/coco-cafe-logo.jpg" class="img-circle" width ="120" height="120"></a>
      </div>
      <div class = "info">
        <p align = "right" font-size = "12"><a href="/posts">Home </a>| <a href="/posts/edit/<%= post.title %>">Edit</a> | <a href="/posts/delete/<%= post.title %>">Delete</a></p>
        <h1>
          <%= post.title %>
        </h1>
        <p class= "sub-info"><% if (post.author){%>By <%= post.author %> &nbsp; &nbsp;<% } %> <%= post.date.toString().substring(4,15) %></p>
        <p class= "tags">Tags: <%= post.category %></p>
        <% if (post.image ){%>
        <img src = "<%= post.image %>" height="120px"  align="left" class = "image-1">
        <% } %>
        <p class = "contents" style="white-space: pre-wrap"><%= post.content %></p>
      </div>
    </div>
  </div>
  <footer>
    <p style="color:white;">Created for UNC University Classroom Project (JMOC 583) by Emily Lam</p>
    <p style="color:white;">Implemented using node.js, mongodb, express, bodyParser, and ejs</p>
  </footer>
</body>

</html>
